body {
    padding-top: 3em;
}

/**
 * The following styling are for Spec 1
 */
.outer {
    background: dodgerblue;
    position: relative;
    width: 400px;
    height: 400px;
}

.inner {
    background: gold;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 250px;
    height: 250px;
}

/**
 * The following styling are for Spec 2
 */
.fa-big {
    font-size: 12em;
}

.text-huge {
    font-size: 10em;
}

.sub-header {
    color: #AAAAAA;
}

.box-padding {
    padding: 1em 0;
}


